body {
  font-family: "Avenir Next";
  background-color: #ffffff;
  margin: 0;
}

li {
  list-style: none;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  color: rgb(58, 58, 58);
  height: 150px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-sub {
  float: left;
  font-size: 25px;
  padding: 28px 20px;
}

.header-menu li {
  float: left;
  position:relative;
  top: 60px;
  right: 420px;
  padding: 23px 23px;
}

.footer {
  background-color: #868686dc;
  color: #fff;
  height: 80px;
  padding: 40px;
}

.footer-logo {
  font-size: 32px;
  float: left;
}

.footer-list {
  float: left;
  display: flex;
  margin: 0 0 0 1em;
  width: 250px;
}

.footer-list ul {
  display: flex
}

.footer-list li {
  padding-bottom: 20px;
  border: 1px solid #aaa;
  line-height: 120%;
  margin: 0.2em;
  padding: 0.5em;
  text-align: center;
  width: 8em; 

  position:relative;
  bottom:10px;
}

.box1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}
.box1 p {
  margin: 0; 
  padding: 0;
}

.box29 {
    margin: 2em 0.5rem;
    background: #f0e68c;
    text-align: center;
}
.box29 .box-title {
    font-size: 1.2em;
    background: #ff8c00;
    padding: 6px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box29 p {
    padding: 15px 20px;
    margin: 0;
}

.box29.black {
  background:#e7e7e7;
  border: solid 2px #ffffff;
}
.box29 .box-title--black {
  font-size: 1.2em;
  background: #222222;
  padding: 6px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

#YUI {
  color: rgb(255, 126, 238);
}

a.btn {
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-bottom: 5px solid #202020;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  text-decoration:none;
}
a.btn--black:hover {
  margin-top: 3px;
  color: rgb(155, 155, 155);
  background: #ffffff;
  border-bottom: 2px solid #9b9b9b;
}
a.btn--black2:hover {
  margin-top: 3px;
  color: rgba(51, 51, 51, 0.349);
  background: #ffffff;
  border-bottom: 2px solid #9b9b9b;
}

a.button {
  color: #fff;
  text-decoration:none;
}
a.button--hover:hover {
  color: rgb(175, 175, 175);
  background: #ececec;
  font-size: 1.2em;
  float: none;
}

a.button.black {
  color: rgb(151, 151, 151);
  background: #2c2c2c;
}
a.button.black:hover {
  background: #000000;
  content: "ホームへ戻る";
  font-size: 1.2em;
}
a.button.contenue {
  color: rgb(255, 255, 255);
  background: #747474;
}
a.button.contenue:hover {
  background: #222222;
  font-size: 1.2em;
}

a.tabs-button {
  color: rgb(44, 54, 58);
  text-decoration:none;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*justify-content: space-between;*/
}

a.tabs-button--hover:hover {
  color: rgb(69, 89, 122, 0.6);
  text-decoration:none;

  background: #ececec;
  border: 1px solid #aaa;
  align-items: center;
  display: block;
  justify-content: space-between;
  font-size: 1.2em;
}